@{ 
    Layout = null;
}

<div class="well">
    <ul class="list-unstyled">
        @foreach (var departamento in ViewBag.Departamentos)
        {
            <li>@departamento.Nome</li>
            <ul>
                @foreach (var categoria in departamento.Categorias)
                {
                    <li>@categoria.Nome</li>
                }
            </ul>
        }
    </ul>
</div>

