<form action="@Url.Action("Cadastra")" method="post">
    <fieldset>
        <legend>Dados Pessoais</legend>

        <div class="form-group">
            <label for="nome">Nome: </label>
            <input class="form-control input-sm" id="nome" type="text" name="usuario.Nome" />
        </div>

        <div class="form-group">
            <label for="email">E-mail: </label>
            <input class="form-control input-sm" id="email" type="text" name="usuario.Email" />
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input class="form-control input-sm" id="senha" type="password" name="usuario.Senha" />
        </div>

        <div class="form-group">
            <label for="dataDeNascimento">Data de Nascimento: </label>
            <input class="form-control input-sm" id="dataDeNascimento" type="text" name="usuario.DataDeNascimento" />
        </div>
    </fieldset>

    <fieldset>
        <legend>Dados de Entrega</legend>

        <div class="form-group">
            <label for="endereco">Endereço: </label>
            <input class="form-control input-sm" id="endereco" type="text" name="usuario.Endereco" />
        </div>

        <div class="form-group">
            <label for="complemento">Complemento: </label>
            <input class="form-control input-sm" id="complemento" type="text" name="usuario.Complemento" />
        </div>

        <div class="form-group">
            <label for="cep">CEP: </label>
            <input class="form-control input-sm" id="cep" type="text" name="usuario.CEP" />
        </div>

        <div class="form-group">
            <label for="observacoes">Observações: </label>
            <textarea class="form-control input-sm" id="observacoes" name="usuario.Observacoes"></textarea>
        </div>
    </fieldset>

    <div class="checkbox">
        <label>
            <input name="usuario.RecebePromocoes" type="checkbox" value="true" />
            Desejo receber informações sobre promoções
        </label>
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary btn-large" />

</form>