<div class="jumbotron col-md-6">

    <h2>Login</h2>

    <p>Já Possui Cadastro? Então faça seu login</p>
    <form action="@Url.Action("Autentica", "Autenticacao")">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="E-mail" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" required />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-large btn-primary" value="Fazer Login" />
        </div>
    </form>
</div>

<div class="jumbotron col-md-6">
    <h2>Novo Usuário?</h2>

    <p>Se você ainda não tem um cadastro, informe qual é o e-mail que você deseja associar com sua conta</p>

    <form action="@Url.Action("Form", "Usuarios")">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="E-mail" name="Email" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-large btn-primary" value="Criar Conta" />
        </div>
    </form>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}